In [2]:
print(174384293843843+1)

174384293843844

In [3]:
print(10)
print(type(10))

10
<class 'int'>

In [5]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [6]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [7]:
print('')

In [9]:
print("this string contains a single quote (') character.")
print('this string contains a double quote (") character.')

this string contains a single quote (') character.
this string contains a double quote (") character.

# List

In [11]:
['foo', 'bar', 'baz', 'qux']

['foo', 'bar', 'baz', 'qux']

In [13]:
a = ['foo', 'bar', 'baz', 'qux']

In [14]:
print(a)

['foo', 'bar', 'baz', 'qux']

In [15]:
a[0]

'foo'

In [19]:
a[3] = 100

In [20]:
a

['foo', 'bar', 'baz', 100]

In [18]:
['list',['list in list',['list2','blabla']]]

['list', ['list in list', ['list2', 'blabla']]]

In [21]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

In [22]:
print(a)

['foo', 'bar', 'baz', 'qux']

In [23]:
print(b)

['baz', 'qux', 'bar', 'foo']

In [24]:
print(a==b)

False

In [26]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [27]:
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [30]:
print(type(a[6]))

<class 'float'>

In [34]:
a[-4]

4

In [35]:
a[2:5]

[3, 4, 'bark']

In [36]:
a * 2

[21.42,
 'foobar',
 3,
 4,
 'bark',
 False,
 3.14159,
 21.42,
 'foobar',
 3,
 4,
 'bark',
 False,
 3.14159]

In [37]:
len(a)

7

In [39]:
print(min(a))

TypeError: '<' not supported between instances of 'str' and 'float'

In [40]:
print(max(a))

TypeError: '>' not supported between instances of 'str' and 'float'

In [47]:
a = ['foo', 'bar', 'baz', 'quux', 'corge']

In [43]:
print(min(a))

bar

In [44]:
print(max(a))

quux

In [46]:
z = ['a', 'b',['c',['d', 'e']]]
print(a)

['a', 'b', ['c', ['d', 'e']]]

In [48]:
z[1]

'b'

In [49]:
z[3]

IndexError: list index out of range

In [52]:
z[2]

['c', ['d', 'e']]

In [54]:
z[2][0]

'c'

In [55]:
len(z[2])

2

In [56]:
z[2][1][0]

'd'

In [64]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [65]:
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [66]:
a[2] = 10
a[-1] = 20

In [67]:
print(a)

['foo', 'bar', 10, 'qux', 'quux', 20]

In [68]:
del a[3]

In [69]:
print(a)

['foo', 'bar', 10, 'quux', 20]

In [70]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])

['bar', 'baz', 'qux']

In [72]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 4.4, 5.5, 'quux', 'corge']

# Tuples

In [76]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [75]:
print(t[3])

qux

In [77]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [78]:
s1

'foo'

In [79]:
t[0] = 'x'

TypeError: 'tuple' object does not support item assignment

In [80]:
a[0] = 10

In [81]:
a

[10, 1.1, 2.2, 3.3, 4.4, 5.5, 4.4, 5.5, 'quux', 'corge']

In [82]:
t

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

# Dictionary

In [84]:
MLB_team = {
    'Colorado' :'Rockies', 
    'Boston':'Red Sox', 
    'Minnesota':'Twins', 
    'Milwaukee':'Brewers', 
    'Seattle':'Mariners,'
}

In [86]:
MLB_team['Minnesota']

'Twins'

In [87]:
MLB_team['Boston']

'Red Sox'

In [89]:
MLB_team['Kansas City']='Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners,',
 'Kansas City': 'Royals'}

In [90]:
MLB_team['Seattle'] = 'Seehawks'

In [91]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seehawks',
 'Kansas City': 'Royals'}

In [93]:
del MLB_team['Seattle']

In [94]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [95]:
person = {}
type(person)

dict

In [96]:
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog':'Fido', 'cat':'Sox'}

In [97]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [98]:
person['pets']

{'dog': 'Fido', 'cat': 'Sox'}

In [102]:
print(person['children'])
person['children'][1]

['Ralph', 'Betty', 'Joey']

'Betty'

In [103]:
person['pets']['cat']

'Sox'

In [104]:
person.items()

dict_items([('fname', 'Hack'), ('lname', 'PTP'), ('age', 51), ('spouse', 'Edna'), ('children', ['Ralph', 'Betty', 'Joey']), ('pets', {'dog': 'Fido', 'cat': 'Sox'})])

In [105]:
person.keys()

dict_keys(['fname', 'lname', 'age', 'spouse', 'children', 'pets'])

In [106]:
person.values()

dict_values(['Hack', 'PTP', 51, 'Edna', ['Ralph', 'Betty', 'Joey'], {'dog': 'Fido', 'cat': 'Sox'}])

# Line Continuation

In [107]:
person1_age = 42
person2_age = 16
person3_age = 71

In [109]:
someone_is_of_working_age = (person1_age>= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

In [110]:
someone_is_of_working_age

True

In [111]:
someone_is_of_working_age = (
    (person1_age>= 18 and person1_age <= 65) 
    or (person2_age >= 18 and person2_age <= 65) 
    or (person3_age >= 18 and person3_age <= 65)
)

In [112]:
someone_is_of_working_age

True